################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/TaskManagement.Adapters/bin/Debug/net8.0
/TaskManagement.Adapters/obj

**/obj
**/bin
**/*/obj
**/*/bin