@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h2>Assumptions and Declarations</h2>
<ol>
    <li>Assumption: Login is not required as per current give RD.</li>
    <li>BackgroundSevices with SendGrid are for illustration purpose and the scale is small-medium.</li>
    <li>Project is made to showcase knowledge on different coding practices</li>
    <li>Server side searach and pagintition is not implemented on this solution</li>
    <li>I could have used some third party search library to make it better and more robust but have added a simple implementation</li>
    <li>Only one service is covered in unit tests for demonstration purpose</li>
    <li>Sendgrid Id is not present during development, hence not tested.</li>
    <li>UI is on a minimalistic and non-prod grade level</li>
</ol>